---

kanban-plugin: board
projectstore: derived
generated_at: {{generated_at}}

---

## Backlog

{{backlog_items}}

## ToDo

{{todo_items}}

## In Progress

{{in_progress_items}}

## Review

{{review_items}}

## Done

{{done_items}}




%% kanban:settings
```
{"kanban-plugin":"board","list-collapse":[false,false,false,false,false]}
```
%%
