---

kanban-plugin: board
projectstore: derived
generated_at: {{generated_at}}

---

## Бэклог

{{backlog_items}}

## К выполнению

{{todo_items}}

## В работе

{{in_progress_items}}

## Ревью

{{review_items}}

## Готово

{{done_items}}




%% kanban:settings
```
{"kanban-plugin":"board","list-collapse":[false,false,false,false,false]}
```
%%
