---

kanban-plugin: board
projectstore: derived
generated_at: {{generated_at}}

---

## Backlog

{{backlog_items}}

## Por hacer

{{todo_items}}

## En curso

{{in_progress_items}}

## Revisión

{{review_items}}

## Hecho

{{done_items}}




%% kanban:settings
```
{"kanban-plugin":"board","list-collapse":[false,false,false,false,false]}
```
%%
