---

kanban-plugin: board
projectstore: derived
generated_at: {{generated_at}}

---

## Backlog

{{backlog_items}}

## À faire

{{todo_items}}

## En cours

{{in_progress_items}}

## Revue

{{review_items}}

## Terminé

{{done_items}}




%% kanban:settings
```
{"kanban-plugin":"board","list-collapse":[false,false,false,false,false]}
```
%%
