---

kanban-plugin: board
projectstore: derived
generated_at: {{generated_at}}

---

## 待办池

{{backlog_items}}

## 待开始

{{todo_items}}

## 进行中

{{in_progress_items}}

## 评审

{{review_items}}

## 已完成

{{done_items}}




%% kanban:settings
```
{"kanban-plugin":"board","list-collapse":[false,false,false,false,false]}
```
%%
